#navigation{
	background-color:666666;
}

#navigation ul {
	margin: 0;
	text-align:center;
	padding-bottom: 5px;
	padding-top: 30px;
}

#navigation li {
	display:inline;
	background-color:666666;
	padding-left: 5px;
	padding-right: 5px;
	
	
}

#navigation a{
	text-align:center;
	color: white;
}

#navigation a:hover{
	color:yellow;
	text-decoration: none;
}

#navigation h1{
	color: white;
	padding-bottom: 5px;
}